@import "nullstyle.scss";

body {
    font-family: Lato;
    font-size: 20px;
}

.wrapper {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.main {
    flex: 1 1 auto;
}

[class*="container"] {
    max-width: 1200px;
    margin: 0px auto;
    padding: 0px 15px;
}

[class*="upper"] {
    text-transform: uppercase;
}

// PC
@media (max-width: 1172px) {
    [class*="container"] {
        max-width: 970px;
    }
}

// TABLET
@media (max-width: 991.98px) {
    [class*="container"] {
        max-width: 750px;
    }
}

// MOBILE



.header {
    background: rgba(16, 16, 29, 0.9);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
}
.header__container {
    min-height: 100px;
    display: flex;
    align-items: center;
}
.header__logo {
    font-size: 28px;
    font-weight: 800;
    color: #ffffff;
}
.header__menu {
    flex: 1 1 auto;
}
.menu {
    display: flex;
    justify-content: flex-end;
    padding: 0px 48px 0px 0px;
}
.menu__list {
    display: flex;
    flex-direction: row;
    gap: 60px;
}

.menu__link {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    text-align: right;
    text-transform: uppercase;
    color: #ffffff;
    &:hover {
        color: #c2ffff;
    }
}

.menu__link_active {
    color: #07C8C8;
}

@media (max-width: 991.98px) {
    [class*="container"] {
        max-width: none;
    }
    .stage-item__points {
        display: none;
    }
    .form__input {
        width: 300px !important;
    }
    .input__file-button {
        width: 200px !important;
        padding-left: 10px !important;
    }
    .order-stages__item {
        margin: 0 !important;
    }

    .footer__copy {
        margin: 0 !important;
    }

    .money__wrapper {
        padding: 0 !important;
    }
}

@media (max-width: 767.98px) {
    [class*="container"] {
        max-width: none;
    }
    .form__input {
        width: 200px !important;
    }
    .money__wrapper, .footer__links {
        flex-direction: column !important;
    }
    .footer {
        height: 200px !important;
    }
    .order-stages__list {
        flex-direction: column !important;
    }
    .order-stages__item {
        width: 100% !important;
    }
    .order {
    height: 100% !important;
    max-height: 100% !important;
    padding-bottom: 30px !important;
    }
    .block-text__title {
        font-size: 20px !important;
    }
}

//MOBILE SMALL
@media (max-width: 479.98px) {
    .block-text__buttons {
        flex-direction: column !important;
    }
    .block-text__button {
        width: 160px !important;
        margin: 20px !important;
    }
    .form__inputs {
        flex-direction: column !important;
    }
    .form__input {
        margin: 20px !important;
    }

    .form__attach {
        flex-direction: column !important;
    }
    .form__slider {
        margin: 20px !important;
    }
    .order-text__main-text {
        font-size: 20px !important;
    }
}



.button {
    display: inline-block;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 1.6;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    background: #FFFFFF;
    color: #000000;
    border: 1px solid #2A2B30;
    border-radius: 4px;
    transition: background-color 0.3s ease 0s;
    &:hover {
        background-color: #a2d0d0;
    }
}

.button_blue {
    background: #07C8C8;
    border: 1px solid #FFFFFF;
    &:hover {
        background-color: #015757;
    }
}

.icon-menu {
    display: none;
}

@media (max-width: 767.98px) {

.icon-menu {
    display: flex;
    position: relative;
    flex: 0 0 30px;
    height: 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 0 0 20px;

    span {
        background: #fff;
        height: 2px;
        width: 30px;
        transition: all 0.3s ease 0s;
    }

    &:before, &:after {
        content: "";
        background: #fff;
        height: 2px;
        transition: all 0.3s ease 0s;
    }
}

.icon-menu.active::before {
    transform: rotate(45deg);
    color: #fff;
    margin-top: 9px;
}
.icon-menu.active::after {
    transform: rotate(-45deg);
    color: #fff;
    margin-bottom: 7px;
}
.icon-menu.active {
    span {
       transform: scale(0);
    }
}

.menu__body {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: rgba(16, 16, 29, 1);
    padding: 80px 15px 30px 15px;
    transition: left 0.3s ease 0s;
}

.menu__body.active {
    left: 0;
}

.menu__link {
    color: #FFFFFF;
    &:hover {
        text-decoration: underline;
    }
}

.menu__list {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.header__logo {
    position: relative;
    z-index: 5;
    font-size: 20px;
}
}

.main {
}


.color {
    color: #07C8C8;
    font-weight: 700;
}

.info {
    height: 850px;
    padding: 200px 0 0 0;
    background-image: url(../img/bg1.jpg);
}

.block-text {
    max-width: 780px;
}

.block-text__title {
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
}

.block-text__text {
    padding: 90px 0 80px 0;
}

.text__list{
        list-style: none;
    
    li:before {
        content:  "-";
        position: relative;
        left:     -5px;
    }
}

.text__main {
    
    p {
        font-weight: 700;
        padding-bottom: 10px;
    }
}

.text__item {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    padding: 5px 0px 0px 17px;
    &:before {
        margin-left: -3px;
        margin-right: 3px;
    }
}

.block-text__buttons {
    display: flex;
    flex-direction: row;
    font-size: 13px;
    .button {
        
        font-size: 13px;
        line-height: 16px;
    }
}

.block-text__button_order {
    padding: 11px 67px;
    background: #07C8C8;
    color: #FFFFFF;
    margin-right: 30px;
}

.block-text__button_more-info {
    padding: 11px 55px;
}

.order {
    background: #272733;
    height: 920px;
    max-height: 920px;
    background: url(../img/bg2.png), #272733;
}

.order-text {
    padding: 120px 0 80px 0;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    text-align: center;
    
    h2 {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 36px;
        line-height: 42px;
        color: #fff;
    }
    p {
        padding-top: 28px;
        color: #fff;
    }
}

.order-stages__list {
    display: flex;
    flex-direction: row;
}

.order-stages__item {
    position: relative;
    box-sizing: border-box;
    width: 209px;
    text-align: center;
    margin-right: 30px;
}

.order-stages__list :last-child {
    margin: 0px;
    &:after {
        display: none;
    }
}

.stage-item__wrap {
    position: relative;
    margin: 0 auto;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #07C8C8;
    border: 5px solid #14317B;
    display:flex;
    align-items:center;
    justify-content: center;
    img {
        display:block;
        max-width:100px;
    }
}

.stage-item__text {
    color: #FFFFFF;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    padding-top: 20px;
    font-family: 'Lato';
    font-style: normal;
}

.stage-item__points {
    position: absolute;
    top: 50px;
    left: 166px;
    ul {
        display: flex;
        li {
        background: #fff;
        width: 6px;
        height: 6px;
        margin-right: 20px;
        border-radius: 50%;
    }
    }
}

.order-form {
    padding: 44px 0 0 0;
}

.form__inputs {
    display: flex;
}

.form__input {
    width: 370px;
    height: 48px;
    border: 1px solid #FFFFFF;
    border-radius: 3px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    padding: 0 0 0 10px;
}

.form__select, .form__email {
    margin-right: 30px;
}

 .form__select {
  position: relative;
  width: 370px;
  border: 1px solid #FFFFFF;
  border-radius: 3px;
  background: #fff;
  

  &[data-state="active"] {
    border: 1px solid rgba(61, 64, 80, 0.85); 
    .form__select-title {

        color: #FFFFFF;
        background: rgba(61, 64, 80, 0.85);

      &::before {
        transform: translate(-1px, -50%) rotate(-45deg);
        background: #FFFFFF;
      }

      &::after {
        transform: translate(3px, -50%) rotate(45deg);
        background: #FFFFFF;
      }
    }
    
    .form__select-content {
      display: flex;
    }
    
    .form__select-label + .form__select-input + .form__select-label {
      max-height: 48px;
      min-height: 48px;
      border-top-width: 1px;
    }
  }
}
.form__select-title {
        font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 8px 16px;
  
  cursor: pointer;

  &::before,
  &::after {
    content: "";

    position: absolute;
    top: 50%;
    right: 16px;

    display: block;
    width: 6px;
    height: 2px;

    transition: all 0.3s ease-out;

    background-color: #333333;

    transform: translate(-1px, -50%) rotate(45deg);
  }
  &::after {
    transform: translate(3px, -50%) rotate(-45deg);
  }

  &:hover {
    border-color: #333333;

    &::before,
    &::after {
      background-color: #333333;
    }
  }
}

.form__select-content {
    border: 1px solid #3D4050;
border-radius: 3px;
    height: 180px;
    position: absolute;
    top: 46px;
    left: -1px;
    overflow-y: scroll;

    display: none;

    flex-direction: column;
    width: calc(100% + 2px);
    

color: #FFFFFF;
background: #272733;

  border-top: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  
  transition: all 0.3s ease-out;

//   opacity: 0;
//   z-index: 8;
}
.form__select-input {
  display: none;

  &:checked + label {
    color: #07C8C8;
  }
  &:disabled + label {
    opacity: 0.6;
    pointer-events: none;
  }
}
.form__select-label {
    font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 22px;
  display: flex;
  align-items: center;
  width: 100%;
  height: 48px;
  max-height: 0;
  padding: 0 16px;
  
  transition: all 0.2s ease-out;

  cursor: pointer;
  
  overflow: hidden;

  &:hover {
    color: #07C8C8;
  }
}



.form__select-content::-webkit-scrollbar {
    width: 7px;               /* ширина всей полосы прокрутки */
    border-radius: 3px; 
    background-color: #272733;
  }
  
  .form__select-content::-webkit-scrollbar-track {
    background: #3D4050;  
    border-radius: 30px;
    margin: 2px;   /* цвет зоны отслеживания */
  }
  
  .form__select-content::-webkit-scrollbar-thumb {
    background: #07C8C8;  /* цвет бегунка */
    border-radius: 30px;      /* округлось бегунка */
  }

  .form__attach {
    display: flex;
    flex-direction: row;
    width: 10px;
    padding: 30px 0 0 0;
  }

  .form__slider {
    flex-direction: column;
    display: flex;
    // min-width: 770px;
    min-width: 54vw;
    margin-right: 30px;
  }

  .slider__label {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
  }

  .slider__percent {
    color: rgba(255, 255, 255, 0.85);
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 100;
    font-size: 18px;
    line-height: 21px;
  }

  .slider__wrapper {
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    padding-bottom: 18px;
  }

  input[type=range]  {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: rgba(255, 255, 255, 0);
    
  }
  input[type=range]::-webkit-slider-runnable-track {
    border-radius: 10px/100%;
    height: 7px;
    background-color: #ffffff;
  }
  input[type=range]::-webkit-slider-thumb {
    background: #07C8C8;
    border: 3px solid #14317B;
    border-radius: 50%;
    cursor: pointer;
    width: 24px;
    height: 24px;
    -webkit-appearance: none;
    margin-top: -8px;
  }

  input[type=range]::-moz-range-track {
      height: 5px;
  }
 input[type=range]::-moz-range-thumb {
      border: 1px solid rgb(255, 255, 255);
      border-radius: 10px/100%;
      cursor: pointer;
  }

  .input__wrapper {
    width: 100%;
    position: relative;
    text-align: center;
    &:hover {
        color: #007a7a;
    }
  }
   
  .input__file {
    opacity: 0;
    visibility: hidden;
    position: absolute;
  }
   
  .input__file-icon-wrapper {
    height: 20px;
    width: 17px;
    margin-right: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
   
  .input__file-button-text {
    text-transform: uppercase;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
  }
   
  .input__file-button {
    width: 368px;
    height: 48px;
    background: #FFFFFF;
    border: 2px solid #07C8C8;
    border-radius: 3px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
        padding-left: 92px;
    
    cursor: pointer;
    margin: 0 auto;
  }

  .form__send {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 56px 0 0 0;
  }

  .form__submit {
    &:hover {
        background: #005e5e;
    }
    width: 370px;
    height: 48px;
    background: #07C8C8;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    color: #FFFFFF;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    text-transform: uppercase;
    cursor: pointer;
  }

  .footer {
    color:#ffffff;
    background: #3D4050;
    height: 80px;
  }
  
  .copy__text {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
  }

  .footer__container {
    display: flex;
  }

  .footer__copy {
    display: flex;
    padding: 30px 0 0 6px;
    margin-right: 80px;
    max-width: 347px;
  }

  .money__wrapper, .footer__links {
    margin: 30px 0 10px 0;
    padding-left: 20px;
    padding-right: 30px;
    display:flex;
    flex-direction: row;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    height: 18px;
    border-left: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
    div {
        display: flex;
        flex-direction: row;
        padding: 0 20px 0 20px;
        img {
            margin-right: 10px;
        }
    }
  }

  .footer__links {
    border: none;
    padding-right: 0;
  }